<!doctype html>
<html lang="en">
    {{template "partials/head" .}}
    <body>
        {{template "partials/header" .}}
        <main id="company-info">
            <!-- Top Section -->
            <div class="top-section">
                <!-- Left Section: Contact Info -->
                <div class="info-section left-section">
                    <h2>{{.Company.Name}}</h2>
                    <p><b>Contact Information</b></p>
                    <p>• Telephone: {{.Company.Phone}}</p>
                    <p>• Alternative number: {{.Company.Fax}}</p>
                    <p>• Email: {{.Company.Email}}</p>
                    <p>• Person of contact: {{.Company.ContactName}}</p>
                </div>

                <!-- Right Section: Recommendations and News -->
                <div class="right-section">
                    <div class="news-widget">
                        <h3>Current Standing in the News</h3>
                        <!-- <p>Some explanation</p> -->

                        {{ if .MonthRecommend }}
                        <!-- Check if .MonthRecommend is not nil -->
                        {{ if .MonthRecommend.MACD }}
                        <!-- Check if .MonthRecommend.MACD is not nil or empty -->
                        <!-- Check for specific recommendations -->
                        {{ if or (eq .MonthRecommend.MACD "Sell") (eq
                        .MonthRecommend.MACD "Hard Sell") }}
                        <br />
                        <p>Poor</p>
                        <p>
                            Market recommendation is negative this month. Please
                            exercise caution.
                        </p>
                        {{ else if eq .MonthRecommend.MACD "Buy" }}
                        <br />
                        <p>Good</p>
                        <p>
                            Market recommendation is positive this month. It's a
                            good time to invest.
                        </p>
                        {{ else if eq .MonthRecommend.MACD "Hold" }}
                        <br />
                        <p>Neutral</p>
                        <p>
                            The recommendation is to hold. No strong indications
                            for action.
                        </p>
                        {{ else }}
                        <br />
                        <p>Unknown</p>
                        <p>
                            No market recommendation available this month.
                            Please check back later.
                        </p>
                        {{ end }} {{ else }}
                        <!-- Case where .MonthRecommend.MACD is nil or empty -->
                        <br />
                        <p>Unknown</p>
                        <p>
                            No market recommendation available this month.
                            Please check back later.
                        </p>
                        {{ end }} {{ else }}
                        <!-- Case where .MonthRecommend is nil -->
                        <br />
                        <p>Unknown</p>
                        <p>
                            No market recommendation available this month.
                            Please check back later.
                        </p>
                        {{ end }}
                    </div>
                </div>
            </div>
            <!-- Bottom Section: Period Data -->
            <div class="period-data">
                <!-- Day Period -->
                <div class="period-card">
                    <h4>Day Period</h4>
                    {{if .DayRecommend}}
                    <ul>
                        <li>CCI: {{.DayRecommend.CCI}}</li>
                        <li>MACD: {{.DayRecommend.MACD}}</li>
                        <li>GC: {{.DayRecommend.GC}}</li>
                        <li>VWMA: {{.DayRecommend.VWMA}}</li>
                        <li>BOP: {{.DayRecommend.BOP}}</li>
                    </ul>
                    {{else}}
                    <p>No recommendation for this period</p>
                    {{end}}
                </div>

                <!-- Week Period -->
                <div class="period-card">
                    <h4>Week Period</h4>
                    {{if .WeekRecommend}}
                    <ul>
                        <li>CCI: {{.WeekRecommend.CCI}}</li>
                        <li>MACD: {{.WeekRecommend.MACD}}</li>
                        <li>GC: {{.WeekRecommend.GC}}</li>
                        <li>VWMA: {{.WeekRecommend.VWMA}}</li>
                        <li>BOP: {{.WeekRecommend.BOP}}</li>
                    </ul>
                    {{else}}
                    <p>No recommendation for this period</p>
                    {{end}}
                </div>

                <!-- Month Period -->
                <div class="period-card">
                    <h4>Month Period</h4>
                    {{if .MonthRecommend}}
                    <ul>
                        <li>CCI: {{.MonthRecommend.CCI}}</li>
                        <li>MACD: {{.MonthRecommend.MACD}}</li>
                        <li>GC: {{.MonthRecommend.GC}}</li>
                        <li>VWMA: {{.MonthRecommend.VWMA}}</li>
                        <li>BOP: {{.MonthRecommend.BOP}}</li>
                    </ul>
                    {{else}}
                    <p>No recommendation for this period</p>
                    {{end}}
                </div>
            </div>
        </main>
    </body>
</html>
