<!doctype html>
<html lang="en">
    {{template "partials/head" .}}
    <body>
        {{template "partials/header" .}}
        <main>
            <div class="top-companies">
                <h2>Current Top Companies</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Ticker</th>
                            <th>Average price</th>
                            <th>% Change</th>
                            <th>BEST</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .Records}}
                        <tr>
                            <td>
                                <a href="company/{{.Ticker}}">{{.Ticker}}</a>
                            </td>
                            <td>{{.AvgPrice}}</td>
                            <td>{{.RevenuePercent}}</td>
                            <td>{{.RevenueBEST}}</td>
                        </tr>
                        {{else}}
                        <tr>
                            <td colspan="14">No companies available.</td>

                            <!doctype html>
                            <html lang="en">
                                <body>
                                    <div class="content"></div>
                                </body>
                            </html>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
                <a class="all-companies" href="/companies"
                    >View all companies</a
                >
            </div>
            <div class="side-panel">
                <h3>Yesterday's Top Companies</h3>
                <ol>
                    {{range .Companies}}
                    <li>{{.Ticker}}</li>
                    {{else}}
                    <li colspan="14">No companies available.</li>
                    {{end}}
                </ol>
            </div>
        </main>
    </body>
</html>
