<!doctype html>
<html lang="en">
    {{template "partials/head" .}}
    <body>
        {{template "partials/header" .}}
        <main id="company-info">
            <div class="info-section">
                <h2>{{.Company.Name}}</h2>
                <p><b>Contact Information</b></p>
                <p>• Telephone: {{.Company.Phone}}</p>
                <p>• Alternative number: {{.Company.Fax}}</p>
                <p>• Email: {{.Company.Email}}</p>
                <p>• Person of contact: {{.Company.ContactName}}</p>
            </div>
        </main>
    </body>
</html>
