
  .content {
    display: flex;
    padding: 20px;
    gap: 20px;
  }
  
  .top-companies {
    flex: 3;
    background-color:var(--third-color);
    padding: 20px;
    border-radius: 10px;
  }

  .top-companies h2{
    color:var(--secondary-color) ;
    /* text-shadow: 
      -1px -1px 0 white, 
       1px -1px 0 white, 
      -1px  1px 0 white, 
       1px  1px 0 white;  */
  }
  
  .top-companies table {
    width: 100%;
    border-collapse: separate;
    margin-top: 10px;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid var(--table-color);
  }
  
  .top-companies th, .top-companies td {
    padding: 10px;
    border: 2px solid var(--table-color);
    text-align: left;
    border-radius: 5px;
  }
  
  .side-panel {
    flex: 1;
    background-color: var(--side-panel-color);
    padding: 20px;
    border-radius: 10px;
    font-weight: bold;
  }
  
  .side-panel ol {
    list-style: decimal;
    padding-left: 20px;
  }
  